@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  color: #dc143c;
  font-weight: bold;
  border: 4px solid #dc143c;
}
.button:hover {
  border: 4px solid #dc143c;
}
.button:active {
  background-color: #dc143c;
  border: 4px solid white;
  color: white;
}

.navbar .menu li a {
  border: #dc143c 4px solid;
}

.navbar .menu li a:active {
  background-color: #dc143c;
  border: 4px solid white;
}
